<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<nav><ul>
		<li><a href="/classifica">classifica</a></li>
		<li><a href="/squadre">squadre</a></li>
		<li><a href="/calendario">calendario</a></li>
		<li><a href="/documenti">documenti</a></li>
		<li><a href="/giornale">giornale</a></li>
	</ul></nav>
	<header><h1>{{title}}</h1></header>
    {{{body}}}
  </body>
</html>
