<form action="/rassegnastampa/new" method="post">
    <div>
        <label>Head Line</label>
        <input type="text" name="headline">
    </div>
    <div>
        <label>Running Head Line</label>
        <input type="text" name="runninghead">
    </div>
    <div>
    	<textarea name="text"></textarea>
    </div>

    <button type="submit">Salva</button>
</form>